@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1>Paypal Integration in Asp.Net Core</h1>


</div>

<div class="row">
    <a class="btn btn-primary" href="/Home/PaymentWithPaypal">Pay Now</a>
</div>

